body {
  margin: 0;
}

:root{
  --bgcolor:  rgb(2, 37, 82);
  --whitecolor: white;
  --lightblue: rgb(69, 129, 168);
}

.container-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.img-login {
  height: 100vh;
  width: 100%;
}

.right-box-login {
  padding: 5rem 3rem;
  background-color: var(--bgcolor)
}

.form-login{
  display: grid;
  grid-gap: 1.7rem;
}

.login-label {
  font-size: large;
  font-weight: 500;
  color: var(--whitecolor)
}

.login-input{
  padding: 0.5rem;
  border-radius: 0.4rem;
}


.heading-login, .loginbtn-login, .signup-text-login, .guest-login{
  color: var(--whitecolor) ;
}

.guest-login{
  color: var(--lightblue);
  margin-top: 1rem;
  font-weight: 500;
}

.heading-login,.guest-login,.signup-text-login{
  text-align: center;
}

.loginButton{
  background-color: var(--lightblue);
  border: none;
  border-radius: 0.4rem;
  font-size: large;
  font-weight:500;
  cursor: pointer;
  padding: 0.5rem;  
}
.signup-text-login{
  margin-top: 2rem;
  font-weight: 600;
  font-size: large;
}

.signup-login{
  color: rgb(196, 11, 82);
  text-decoration: none;
  margin-left: 1rem;
  cursor: pointer;
}

.signup-login:hover{
  text-decoration: underline;
}
