/* .label-form{
  color: white;
  font-size: medium;
  font-weight: 500;
}

.input-form{
  padding: 0.3rem;
  border-radius: 0.4rem;
} */

.signupimg  {
  height: 180vh;

}

.rightbox{
  padding: 2rem 6rem;
}